.boba-glass {
  position: relative;
  /*border: 1px solid rgba(255, 255, 255, 0.5);*/
  border-radius: 1em;
  background-color: rgba(10, 10, 10, 0.9);
}

.boba-glass::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 1em;
  background-image: radial-gradient(
    circle 5em at var(--mouse-x) var(--mouse-y),
    rgba(255, 220, 104, 1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  z-index: -1;
}

.boba-glass::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  /* Noise */
  background-image: url("https://raw.githubusercontent.com/jtpotato/boba-ui/main/assets/white-noise.jpg");
  background-blend-mode: multiply;
  background-size: 400%;
  filter: contrast(1.2);
  opacity: 0.1;
}
