.boba-glitchy-text-on-scroll {
  position: absolute;
  top: -150%;
  left: -20%;
  width: 140%;
  height: 400%;
  overflow-wrap: break-word;
  overflow: hidden;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  user-select:none;
}
