.boba-glitchy-text-on-scroll {
  position: absolute;
  top: -150%;
  left: -20%;
  width: 140%;
  height: 400%;
  overflow-wrap: break-word;
  overflow: hidden;
  background-clip: text;
  color: transparent;
  background-image: radial-gradient(
    circle 10em at var(--mouse-x) var(--mouse-y),
    rgba(255, 220, 104, 0.2) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  user-select:none;
}
