<script>
  import "glslCanvas";
</script>

<div class="-z-50 w-screen overflow-clip">
  <canvas
    class="glslCanvas w-screen h-screen fixed -z-50"
    id="background-canvas"
    data-fragment-url="/assets/background.frag"></canvas>
</div>

<script>
  const canvas = document.getElementById("background-canvas");

  // @ts-expect-error
  canvas.width = window.innerWidth * window.devicePixelRatio;
  // @ts-expect-error
  canvas.height = window.innerHeight * window.devicePixelRatio;
</script>
