<div class="relative">
  <p class="text-9xl absolute -top-4 left-16 text-neutral-200 -z-10">陈奕諴</p>
  <h1 class="text-8xl z-10">Joel Tan</h1>
</div>
<br />
<p>Student. Sometimes I make stuff. Or take photos.</p>
