---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Article from "../components/Article.astro";
import Hero from "./Hero.astro";
import Background from "./Background.astro";
import Projects from "./Projects.astro";
import Footer from "./Footer.astro";
---

<Layout title="Joel">
  <Background />
  <div class="max-w-6xl m-auto">
    <div class="p-4 md:pt-60 mb-20">
      <Hero />
    </div>
    <main>
      <div class="p-4 max-w-6xl m-auto">
        <br />
        <Projects />
      </div>
    </main>
    <Footer />
  </div>
</Layout>
