---
import Article from "../components/Article.astro";
---

<h2 class="text-4xl font-bold">Media</h2>
<p class="text-neutral-400">Titles and Images from OpenGraph</p>
<br />
<div class="flex gap-4 justify-stretch items-stretch flex-wrap">
  <Article
    url="https://www.asi.edu.au/australian-team-2024-international-earth-science-olympiad/"
  />
  <Article
    url="https://jmss.vic.edu.au/news/in-the-media/jmss-are-the-champions-at-simc-2024/"
  />
  <Article
    url="https://simc2024.net/2024/04/05/day-2/#1-faces-of-simc-john-monash-science-school"
  />
  <!-- <Article url="https://youtu.be/V2Em-I_yBU0" /> -->
  <Article url="https://www.immchallenge.org.au/results" />
</div>
