.progressive-blur {
  width: 100%;
  height: 100%;
  scale: 1.25;
  position: absolute;
  /* backdrop-filter: blur(4px); */
  /* mask: linear-gradient(transparent, black 50%); */
  /* background-image: linear-gradient(transparent, #fff 100%); */
  z-index: -1;
}
