@tailwind base;
@layer base {
  ul,
  ol,
  li {
    list-style: revert;
    margin: revert;
    padding: revert;
  }
}

@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-text
}