@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root  {
    --background: 29 50% 5%;
    --foreground: 29 5% 90%;
    --card: 29 50% 0%;
    --card-foreground: 29 5% 90%;
    --popover: 29 50% 5%;
    --popover-foreground: 29 5% 90%;
    --primary: 29 75% 76%;
    --primary-foreground: 0 0% 0%;
    --secondary: 29 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -9 30% 15%;
    --muted-foreground: 29 5% 60%;
    --accent: -9 30% 15%;
    --accent-foreground: 29 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 29 5% 90%;
    --border: 29 30% 18%;
    --input: 29 30% 18%;
    --ring: 29 75% 76%;
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  margin: 0;
}